A biblioteca solicitada pywin32==306 existe na maquina em outra versão.
A biblioteca solicitada psutil==5.9.5 existe na maquina em outra versão.
A biblioteca solicitada pyftpdlib==1.5.6 existe na maquina em outra versão.
